{{ define "main" }}
  <section class="section-sm text-center">
    <div class="container">
      <div class="row justify-center">
        <div class="sm:col-10 md:col-8 lg:col-6">
          <span
            class="text-[8rem] block font-bold text-dark dark:text-darkmode-dark">
            404
          </span>
          <h1 class="h2 mb-4">Страница не найдена</h1>
          <div class="content">
            <p>
              Страница, которую вы ищете, могла быть удалена, переименована
              или временно недоступна.
            </p>
          </div>
          <a
            href="{{ site.BaseURL | relLangURL }}"
            class="btn btn-primary mt-8">
            На главную
          </a>
        </div>
      </div>
    </div>
  </section>
{{ end }}
